.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.swiper-slide img {
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

.swiper-pagination-bullet-active {
    background-color: #FF9EA0;
}